@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6 border-bottom"> Contact </div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            ALO 111 Yazılım bilgi ve destek hattı
        </p>
        <i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            Gülce Mahallesi, 245 Sokak No 12 Kat 3 & Karşıyaka <br>
            İzmir, Türkiye
        </p>
        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            info@store.com
        </p>
    </div>
</div>