@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6"> Contact </div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            0 (212) 121 12 12
        </p>
        <i class="fa-solid fa-address-book text-primary my-3"></i>
        <p>
            Gülce Mahallesi, 245 Sokak No 12 Kat 3 & Karşıyaka <br>
            İzmir, Türkiye
        </p>
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>
            info@store.com
        </p>
    </div>
</div>